@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --nav-bacground: #282323;
    --text-color: #fff;
    --span-color:red;
    --hover-bg-color:red;
    --hover-color:black;
    --sections-body-color:black;
    --footer-background:#282323;
    --card-bg-color: white;
}
body{
    width: 100%;
    height: 100%;
}
#navbar{
    background: var(--nav-bacground);
}

#logo{
    font-size: 36px;
    font-weight: 600;
    color: var(--text-color);
    text-shadow: 0 1px 1px red;
    margin-bottom: 5px;
}
#logo span{
     color: var(--span-color);
}
.navbar-toggler span{
    color: var(--span-color);
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: var(--text-color);
    letter-spacing: 1px;
    border-radius: 3px;
    transition: .3s ease;
}
.nav-item .nav-link:hover{
    background: var(--hover-bg-color);
    color: var(--hover-color);
}
.navbar form {
    border: none;
}
.navbar form button{
    background: red;
    color: black;
    border: none;
}
.navbar form button:hover{
    background: firebrick;
    color: white;
    border: none;
}
/* 
HOME_SECTION */
.home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),url(images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 350px;
}
.home .content h5{
    color: var(--text-color);
    font-size: 38px;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
    
}
.home .content h1{
        color: var(--text-color);
        font-size: 70px;
        font-weight: 600;
        text-shadow: 0 1px 1px black;
        margin-top: 5px;
    }
.changecontent::after{
         content: '';
         color: red;
         text-shadow: 0 1px 1px black;
         animation: changetext 10s infinite linear;

}
@keyframes changetext {
    0%{
        content: 'Pakistan';
    }
    20%{
        content: 'India';
    }
    40%{
        content: 'China';
    }
    60%{
        content: 'France';
    }
    80%{
        content: 'USA';
    }
    100%{
        content: 'US';
    }
}
.home .content p{
        color: var(--text-color);
        font-size: 15px;
        font-weight: 600;
        text-shadow: 0 1px 1px black;
        text-shadow: 0 1px 1px black;
        margin-top: 5px;
        margin-bottom: 30px;
}
.home .content a{
    padding: 10px;
    background: linear-gradient(to right,black 50%, red 50%);
    background-size: 200% 100%;
    color: var(--text-color);
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 2px;
    transition: .5s;
    text-decoration: none;
}
.home .content a:hover{
    background-position: 100%;
}

@media (max-width:850px) {
    .home{
        background-position: 50%;
        
    }
    
}

@media (max-width:450px) {
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size:  13px;
    }
    
}

/* SECTION_BOOK */
.book {
    background-color:  var(--sections-body-color);
    color: var(--text-color);
    padding: 30px 0;
    text-align: center;
    border-top: 2px solid white;
}

.main-text h1 {
    font-size: 36px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #333;
}

.main-text h1 span {
    color: red;
}
.book .card{
    box-shadow: 0px 5px 5px -6px white;
}
.book .row{
    margin-top: 100px;
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    box-shadow: 0px 5px 5px -6px white;
    border-radius: 10px;
}
.book form textarea{
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px white;
    height: 200px;
}
#image{
    margin-top: 50px;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    background-color: red;
    color: var(--text-color);
    margin-top: 10px;
    transition: .5s;
}
.book .submit:hover{
    background-color: darkred;
    width: 180px;
}
@media (max-width:765px) {
    .book{
        padding: 0;
      }    
      .margin-text h1{
          padding: 20px;
        }
}


/* Package-section */

.packages-section {
    background-color: var(--sections-body-color);
    color: var(--text-color);
    padding: 30px 0;
    text-align: center;
    border-top: 2px solid white;
}

.section-header h1 {
    font-size: 36px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #333;
}

.section-header h1 span {
    color: var(--span-color);
}

.pack-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.package-card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    margin-top: 30px;
    max-width: 400px;
    color: black;
    background-color: var(--card-bg-color);
    transition: transform 0.3s ease-in-out;
}

.package-card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
}

.star-rating {
    color: gold;
}

.fa-star.checked {
    color: gold;
}

h6 {
    margin-top: 15px;
    font-weight: 600;
}

.book-now-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: black;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.book-now-link:hover {
    background-color: firebrick;
}
/* SECTION SERVICES */
.services-section {
    background-color: var(--sections-body-color);
    color: var(--text-color);
    padding: 30px 0;
    text-align: center;
    border-top: 2px solid white;
}

.section-header h1 {
    font-size: 36px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #333;
}

.section-header h1 span {
    color: var(--span-color);
}
.services-section .card{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    color: black;
    background-color:  var(--card-bg-color);
    padding: 10px;
}
.services-section .card i{
    font-size: 80px;
    text-align: center;
    color: red;
    margin-top: 20px;
}
.services-section .card.card-body h3{
    font-weight: 600;

}

/* Gallery-Section */
.gallery-section {
    background-color: var(--sections-body-color);
    color: var(--text-color);
    padding: 30px 0;
    text-align: center;
    border-top: 2px solid white;
}

.main-text h1 {
    font-size: 36px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #333;
}

.main-text h1 span {
    color: var(--span-color);
}
.gallery-section{
    margin-top: 50px;
}
.gallery-section .card{
    cursor: pointer;
    margin: 10px;
}
.gallery-section .card img{
    width: 100%;
    background-size: cover;
    object-fit: cover;
    border-radius: 3px;
    transition: .5s;
}
.gallery-section .card img:hover{
    transform: scale(1.1);
}

#footer {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: var(--text-color);
    background-color:var(--footer-background);
    border-top: 2px solid white;
}

#footer h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#footer h1 span{
    color: var(--span-color);
}

#footer p {
    font-size: 16px;
    margin-bottom: 30px;
}

.social-media {
    font-size: 24px;
    margin-bottom: 20px;
}

.social-media i {
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.social-media .fa-twitter:hover {
    color: #55acee; 
}

.social-media .fa-instagram:hover {
    color: #e1306c; 
}

.social-media .fa-facebook:hover {
    color: #006eff; 
}

.social-media .fa-youtube:hover {
    color: #ff0000; 
}

.credit a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.credit a:hover {
    text-decoration: underline;
    color: darkred;
}

.copyright {
    margin-top: 30px;
    font-size: 14px;
}
